  @font-face {
      font-family: "Urbanist";
      src: url("./Urbanist/static/Urbanist-BoldItalic.ttf") format("truetype");
    }
  @font-face {
    font-family: "urbanist-body";
    src: url("./Urbanist/static/Urbanist-Regular.ttf") format("truetype");
  }
body {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: "urbanist-body";
}
.main {
  text-align: center; 
  background-image: url("./adrian-infernus-GLf7bAwCdYg-unsplash.jpg");
}
.timer-circle {
  border-radius: 70%; 
  width: 500px; 
  height: 500px; 
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 50px;
  border: 25px solid; 
  
}

.control-buttons { 
    margin-top: 100px; 
    display: flex; 
    justify-content: space-evenly; 
} 

.control-buttons button { 
    border: none; 
    padding: 20px 30px; 
    border-radius: 20px; 
    cursor: pointer; 
} 

.title {
  font-family: "Urbanist";
}
