@font-face {
    font-family: "urbanist";
    src: url("Urbanist/static/Urbanist-Light.ttf") format("truetype");
  }
body {
  display: flex; 
  align-items: right; 
  justify-content: space-evenly; 
  font-family: "urbanist";
  background-image: url("./adrian-infernus-GLf7bAwCdYg-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
.main {
  text-align: center; 
  
}
.timer-circle {
  border-radius: 70%; 
  width: 500px; 
  height: 500px; 
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 150px;
  color: white; 
  border: 5px solid #ffffff; 
  
}

.control-buttons { 
    margin-top: 75px; 
    display: flex; 
    justify-content: space-evenly; 
} 

.control-buttons button { 
    border: 1px solid #ffffff;
    background-color: transparent;
    font-family: "urbanist";
    padding: 15px 25px; 
    border-radius: 1000px; 
    cursor: pointer; 
} 

.control-buttons button:hover { 
    background-color: ##ffd1e6;
    opacity: 0.5;
    transition: background-color 0.2s; 
}

.control-buttons a {
  color: white;
}

.title {
  font-family: "urbanist";
  color: white;
  font-size: 75px;
text-align: center;
}
